<app-navbar></app-navbar>
<div class="card w-50 m-auto p-3" mat-card-content>
  <div class="d-flex">
    <div class="col-md-6">
      <h3 class="text">Sign Up</h3>
      <p class="text acct">Register as a user here...</p>
      <p class="text-danger text-center">{{errormsg}}</p>
      <input type="text" class="form-control mt-2" placeholder="First Name" [(ngModel)]="users.firstname">
      <input type="text" class="form-control mt-2" placeholder="Last Name" [(ngModel)]="users.lastname">
      <input type="email" class="form-control mt-2" placeholder="Email" [(ngModel)]="users.email">
      <input type="password" class="form-control mt-2" placeholder="Password" [(ngModel)]="users.password">
      <input type="password" class="form-control mt-2" placeholder="Confirm Password" [(ngModel)]="cPass">
      <div class=" text-success">
        <input type="checkbox" class="form-check-input">
        <label class="ms-2">I agree with term & conditions</label>
      </div>
      <button class="btn mt-2 w-50" mat-button (click)="signUp()">Sign Up</button>
    </div>
    <div class="col-md-6">
      <img src="assets/Time management-amico.svg" alt="">
    </div>
  </div>
  <div class="mt-2">
    <p class="text-center acct">Already have an account? <a routerLink="/sign-in" class="link-success"> Sign in here</a>
    </p>
  </div>
</div>
