<app-navbar></app-navbar>
<div class="card w-50 m-auto p-3 mt-5" mat-card-content>
  <div class="d-flex">
    <div class="col-md-6">
      <h3 class="text">Sign Up</h3>
      <p class="text">Register as a user here...</p>
     <input type="text" class="form-control mt-2" placeholder="First Name">
     <input type="text" class="form-control mt-2" placeholder="Last Name">
     <input type="email" class="form-control mt-2" placeholder="Email">
     <input type="password" class="form-control mt-2" placeholder="Password">
     <input type="password" class="form-control mt-2" placeholder="Confirm Password">
     <button class="btn mt-2" mat-button>Sign Up</button>
    </div>
    <div class="col-md-6">
     <img src="assets/Time management-amico.svg" alt="">
    </div>
  </div>
</div>
