<app-navbar></app-navbar>
<div class="d-flex p-3">
  <div class="col-md-6 mx-auto p-5">
    <div>
      <h3 class="text text-white">To Do App</h3>
      <p class="text text-white mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, dignissimos autem! Neque enim et nemo, eum nobis nulla adipisci saepe temporibus quasi facilis voluptatem iste mollitia repudiandae consequuntur deleniti porro?
      </p>
      <p class="text text-white mt-2 hi">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam numquam, itaque, aspernatur aut consequuntur ex officia ullam odit illum suscipit magni incidunt! Consectetur aliquid possimus maxime at impedit debitis nulla!
      </p>
      <button class="btn w-50" mat-button (click)="getStart()">Get Started</button>
    </div>
  </div>
  <div class="col-md-6 mx-auto p-5">
    <img src="assets/To do list-amico.svg" alt="">
  </div>
</div>
<div class="w-25 m-auto icons sticky-down">
  <i class="fa-brands fa-twitter-square ms-5"></i>
  <i class="fa-brands fa-facebook-square ms-3"></i>
  <i class="fa-brands fa-instagram ms-3"></i>
  <i class="fa-brands fa-youtube ms-3"></i>
  <i class="fa-brands fa-whatsapp-square ms-3"></i>
</div>
